{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "importOrder": [
    "^@nestjs/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[./]",
    "^(?!.*\\btype\\b).*import\\s*{[^}]*}\\s*from\\s*['\"][^'\"]+['\"];?$"
  ]
}
